html, body {
  margin: 0; padding: 0;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  height: 100%;
}

body {
  margin: 0;
  background: #E5E0D9;
  position: absolute;
}

#map_container {
  width: 100%; height: 100%;
}


#menu {
    position: absolute;
    z-index: 10;
    width: 200px;
    background-color: #fff;
    right: 20px;
    top: 20px;
    -moz-border-radius: 15px;
    border-radius: 15px;
}

#menu ul {
    list-style-type: none;
    margin: 0; padding: 5px;
}


/*svg {
  display: block;
  overflow: hidden;
  width: 100%;
  height: 100%;
}*/
/*
#copy {
  position: absolute;
  left: 0;
  bottom: 4px;
  padding-left: 5px;
  font: 9px sans-serif;
  color: #fff;
  cursor: default;
}

#copy a {
  color: #fff;
}

.compass .back {
  fill: #eee;
  fill-opacity: .8;
}

.compass .fore {
  stroke: #999;
  stroke-width: 1.5px;
}

.compass rect.back.fore {
  fill: #999;
  fill-opacity: .3;
  stroke: #eee;
  stroke-width: 1px;
  shape-rendering: crispEdges;
}

.compass .direction {
  fill: none;
}

.compass .chevron {
  fill: none;
  stroke: #999;
  stroke-width: 5px;
}

.compass .zoom .chevron {
  stroke-width: 4px;
}

.compass .active .chevron, .compass .chevron.active {
  stroke: #fff;
}

.compass.active .active .direction {
  fill: #999;
}*/


.layer path {
  stroke-width: 1.5px;
  vector-effect: non-scaling-stroke;
}

/*svg {
  position: absolute;
}*/

.shadow {
  -moz-box-shadow: 3px 3px 7px #999;
  -webkit-box-shadow: 3px 7px 4px #999;
  box-shadow: 3px 3px 7px #999;
}

.provinciaFoco {
  stroke-width: 3px;
  fill: blue;

}

/* departamentos */

.dpto {
  fill: none;
  stroke-width: 1px;
  stroke: #fff;
}

/* provincias */
.color1 {
  fill: #D7191C;
  stroke-width: 1.5px;
  stroke: #fff;
}
.color2 {
  fill: #FDAE61;
  stroke-width: 1.5px;
  stroke: #fff;
}
.color3 {
  fill: #FFFFBF;
  stroke-width: 1.5px;
  stroke: #fff;
}
.color4 {
  fill: #ABD9E9;
  stroke-width: 1.5px;
  stroke: #fff;
}
.color5 {
  fill: #2C7BB6;
  stroke-width: 1.5px;
  stroke: #fff;
}
